#!/bin/zsh

## Enable aliases on sudo
alias sudo='sudo '

## Vim like keys ##########################################
alias :q='exit'
alias :wq='exit'
alias :q!='exit'
alias :wq!='exit'
alias :x='exit'
alias :x!='exit'
alias :Q='exit'
alias :WQ='exit'
alias :Wq='exit'
alias :Q!='exit'
alias :WQ!='exit'
alias :Wq!='exit'
alias :X='exit'
alias :X!='exit'
alias :e='nvim'

## Other ##################################################
alias luamake='$HOME/.language-servers/lua-language-server/3rd/luamake/luamake'

## Pacman
alias pacman='pacman --color=always'
