[Desktop Entry]
Name=Ultimaker Cura(nvidia)
Name[de]=Ultimaker Cura(nvidia)
Name[nl]=Ultimaker Cura(nvidia)
GenericName=3D Printing Software
GenericName[de]=3D-Druck-Software
GenericName[nl]=3D-printsoftware
Comment=Cura converts 3D models into paths for a 3D printer. It prepares your print for maximum accuracy, minimum printing time and good reliability with many extra features that make your print come out great.
Comment[de]=Cura wandelt 3D-Modelle in Pfade für einen 3D-Drucker um. Es bereitet Ihren Druck für maximale Genauigkeit, minimale Druckzeit und guter Zuverlässigkeit mit vielen zusätzlichen Funktionen vor, damit Ihr Druck großartig wird.
Comment[nl]=Cura converteert 3D-modellen naar paden voor een 3D printer. Het bereidt je print voor om zeer precies, snel en betrouwbaar te kunnen printen, met veel extra functionaliteit om je print er goed uit te laten komen.
Exec=prime-run /usr/bin/cura %F
Icon=cura-icon
Terminal=false
Type=Application
Categories=Graphics;
Keywords=3D;Printing;Slicer;nvidia
